.centerDiv {
    border: 1px solid black;
    width: max-content;
    padding: 50px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }

  .centerDiv label{
    margin-top: 5px;
    display: inline-block;
  }
  .input {
    /* border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; */
    outline-color: transparent;
    width: 500px;
    height: 40px;
 
  }
  
  .uploadBtn {
    margin-top: 30px;
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .uploadBtn:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .centerDiv input[type="file"]{
      width: 200px;
      height: 40px;
      
  }

  .centerDiv #file{
display: none;
  }

  .centerDiv .fileBtn{
    padding: 6px 10px;
    color: #fff;
    background: #1f3249;
  }